doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="../scss/lib/grid.scss")
  body
    include ./layout/navbar.pug
    include ./layout/home.pug
    include ./layout/about.pug
    include ./layout/story.pug
    include ./layout/gallery.pug
    include ./layout/event.pug
    include ./layout/family.pug
    include ./layout/rsvp.pug
    include ./layout/contact.pug

  script(src='../bundle.js')